.left{
    float: left;
}
.right{
    float: right;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.width20{
    width: 20%;
}
.hide{
    display: none !important;
}
.show{
    display: inherit;
}