.left{
    float: left;
}
.right{
    float: right;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.width20{
    width: 20%;
}
.width28{
    width: 28%;
}
.width40{
    width: 40%;
}
.hide{
    display: none !important;
}
.show{
    display: inherit;
}
.clear::after{
    clear: both;
}