body {
  direction: rtl;
}

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/yekanbakh/eot/YekanBakhFaBold.eot");
  src: url("../fonts/yekanbakh/eot/YekanBakhFaBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/yekanbakh/woff/YekanBakhFaBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/yekanbakh/ttf/YekanBakhFaBold.ttf") format("truetype");
}
@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/yekanbakh/eot/YekanBakhFaMedium.eot");
  src: url("../fonts/yekanbakh/eot/YekanBakhFaMedium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/yekanbakh/woff/YekanBakhFaMedium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/yekanbakh/ttf/YekanBakhFaMedium.ttf") format("truetype");
}
@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/yekanbakh/eot/YekanBakhFaLight.eot");
  src: url("../fonts/yekanbakh/eot/YekanBakhFaLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/yekanbakh/woff/YekanBakhFaLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/yekanbakh/ttf/YekanBakhFaLight.ttf") format("truetype");
}
/*
   * English Numeric
  */
@font-face {
  font-family: yekanbakhen;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/yekanbakh/eot/YekanBakhEnBold.eot");
  src: url("../fonts/yekanbakh/eot/YekanBakhEnBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/yekanbakh/woff/YekanBakhENBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/yekanbakh/ttf/YekanBakhENBold.ttf") format("truetype");
}
@font-face {
  font-family: yekanbakhen;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/yekanbakh/eot/YekanBakhEnMedium.eot");
  src: url("../fonts/yekanbakh/eot/YekanBakhEnMedium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/yekanbakh/woff/YekanBakhENMedium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/yekanbakh/ttf/YekanBakhENMedium.ttf") format("truetype");
}
@font-face {
  font-family: yekanbakhen;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/yekanbakh/eot/YekanBakhEnLight.eot");
  src: url("../fonts/yekanbakh/eot/YekanBakhEnLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/yekanbakh/woff/YekanBakhENLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/yekanbakh/ttf/YekanBakhENLight.ttf") format("truetype");
}
.fp-header {
  height: 50px;
  max-width: 1200px;

  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.fp-logo {
  width: 9%;
  padding-top: 10px;
}
.fp-menu {
  font-family: yekanbakhen;
  width: 47%;
  padding-top: 18px;
}
.fp-menu ul li div {
  display: inline;
  margin: 20px;
  text-align: center;
}
.fp-menu ul li {
  display: inline;
}
.fp-selected {
  color: #2879fe;
}
.fp-menu ul li a:hover {
  color: #2879fe;
}
.fp-options {
  width: 15%;
  padding-top: 18px;
}
.fp-options ul li {
  display: inline;
  margin: 10px;
  text-align: center;
}
.fp-options ul li:hover {
  color: #2879fe;
}
.fp-dropdown-title {
  font-size: 18px;
  margin: 15px;
}

.fp-menu ul li ul li {
  font-size: 14px;
  color: #4e4e4e;
  display: block;
  text-align: right;
  margin: 18px;
}
.fp-dropdown-shop {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  right: 0;
  top: 38px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-dropdown-pages {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 200px;
  top: 38px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-dropdown-blog {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 280px;
  top: 38px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-dropdown-portfolio {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 365px;
  top: 38px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-dropdown-women {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  right: 0px;
  top: 38px;
  height: 450px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-women-dropdown {
  width: 100%;
  position: absolute;
  bottom: 89px;
  right: 70px;
  margin: -69px !important;
  background-color: #ffffff;
}
.fp-women-dropdown img {
  margin: 0 20px;
}
.fp-dropdown-men {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 290px;
  width: 60%;
  top: 38px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-user {
  display: inline;
  margin: 10px;
  text-align: center;
}
.fp-user-list {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 15%;
  top: 35px;
  z-index: 1;
  display: none;
  background-color: #ffffff;
}
.fp-user-list li a i {
  margin: 0 10px;
}
.fp-user-list li {
  text-align: right !important;
  width: 100%;
  color: #000000;
}
.fp-user-list li:hover {
  color: #2879fe;
}
span {
  font-family: yekanbakhen !important;
  font-size: 13px !important;
}
p {
  font-family: yekanbakhen !important;
}
.fp-shopping-basket {
  display: inline;
  margin: 10px;
  text-align: center;
}
.fp-shopping-basket-list {
  display: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100% !important;
  z-index: 1;
  padding: 10px 10px;
  opacity: 0.3;
  float: right;
  color: #000000;
}
.fp-shopping-basket-list span {
  margin-bottom: 20px;
}

.fp-no-product-icon {
  font-size: 45px !important;
  text-align: center;
  margin: 20px 0;
}
.fp-search {
  display: inline;
  margin: 10px;
  text-align: center;
}
.fp-search-list {
  position: fixed;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 100;
  height: 200px;
  top: 0;
  background: #ffffff;
  display: none;
}
.fp-search-list input {
  border: none;
  width: 80%;
  float: none;
  font-size: 25px;
  font-family: yekanbakh;
  margin-top: 65px;
  border-bottom: solid 0.5px;
}
.fp-search-list-icon {
  border: none;
  background-color: #ffffff;
  font-size: 30px;
  color: #000000;
  margin-top: 65px;
  left: 140px;
  position: absolute;
  opacity: 0.5;
}
.fp-follow-us {
  width: 100%;
  text-align: center;
  direction: ltr;
  font-size: 20px;
  line-height: 25px;
}
.fp-follow-link {
  color: #2879fe;
  text-decoration: underline;
}
.fp-follow-link:hover {
  text-decoration: none;
}
.fp-data {
  width: 100%;
  margin-top: 75px;
  position: relative;
  float: right;
}
.fp-title {
  float: right;
  margin-right: 90px;
  width: 25%;
  font-family: yekanbakh;
}
.fp-title i {
  font-size: 60px;
  margin-left: 15px;
  float: right;
  color: #2879fe;
}
.fp-data-title {
  line-height: 32px;
}
.fp-data-title a:hover {
  color: #2879fe;
}
.fp-data-title div {
  font-size: 15px;
  opacity: 0.9;
}
.fp-data-title a {
  font-size: 20px;
}
.fp-contact-us {
  margin-top: 50px;
  width: 100%;
  float: right;
  background-color: #2879fe;
  height: 60px;
  text-align: center;
}
.fp-touch-with-us {
  float: right;
  margin: 20px 50px 0 195px;
  color: #ffffff;
  font-size: 20px !important;
}
.fp-footer-search {
  margin-top: 8px;
  font-family: yekanbakh;
}
.fp-footer-search input {
  border: none;
  position: relative;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}
.fp-footer-search a {
  color: #ffffff;
  background-color: #303030;
  padding: 15px;
  position: absolute;
  left: 370px;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}
.fp-social-network {
  margin: 20px 20px 20px 50px;
  color: #ffffff;
  font-size: 20px;
}
.fp-social-network i {
  margin-left: 10px;
}
.fp-social-network a:hover {
  color: #000000;
  transition: all 0.9s ease 0.1s;
}
.fp-footer-menu {
  width: 100%;
  float: right;
  padding: 50px;
  font-family: yekanbakh;
  line-height: 40px;
  background-color: #f7f8fa;
}
.fp-tittle-footer {
  font-size: 20px;
  
}
.fp-footer-menu a{
  color: #888888;
  font-size: 14px;
}
.fp-footer-menu a:hover{
  color: #2879fe;
  transition: all 0.6s ease 0.1s;
}
.fp-footer-about{
  text-align: justify;
  padding-left: 30px;
  color: #888888;
  font-size: 14px;

}
.fp-copy-right{
  width: 100%;
padding: 20px;
}
.fp-copy-right img{
  float: left;
  margin-left: 50px;
}
.fp-copy-right p{
  color: #888888;
  margin-left: 10px;
  float: left;
  font-size: 12px;
  line-height: 31px;
}